!!!
%html
  %head
    %title= "CI Dashboard"
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "#{path_root}/javascripts/queue.js"}
    :javascript
      function createNewBoxFrom(box, project) {
        return box.clone();
      }

      function syncBoxToProject(newbox, project) {
        newbox.removeClass();
        newbox.addClass(project.status);
        if (project.status == 'building') {
          newbox.find('img').attr('src', '#{path_root}/images/loading.gif');
        }
        else {
          newbox.find('img').attr('src', project.author_gravatar);
        }
        return newbox;
      }

      function fadeOver(newelement, element) {
        newelement.css('position', 'absolute');
        newelement.css('left', '0');
        newelement.hide();
        newelement.appendTo(element.parent());
        newelement.fadeIn(2000, function() {
          newelement.css('position', 'static');
          element.remove();
          project_queue.schedule(500);
        });
        element.fadeOut(2000);
      }      

      function updateBuildStatus(project) {
        box = $('#'+project.name+' a');
        if (box.size() == 0) {
          document.location.reload(true);
        }
        newbox = createNewBoxFrom(box);
        syncBoxToProject(newbox, project);
        fadeOver(newbox, box);
      }

      function syncBarToProject(newbar, project) {
        document.location.reload(true);
      }
      
      function updateProgressStatus(project) {
        bar = $('#'+project.name+' progress-bg')
        if (bar.size() == 0) {
          //document.location.reload(true);
        }
        newbar = createNewBarFrom(bar);
        syncBarToProject(newbar, project);
        fadeOver(newbar, bar);
      }

      function updateProjectBoxWithFade(project) {
        updateBuildStatus(project);
        updateProgressStatus(project);
      };

      project_queue = new Queue(updateProjectBoxWithFade, function(count) {
        window.setTimeout("project_queue.process()", count);
      });
      // countdown_queue = new Queue(updateCountdown, function(count) {
      //  window.setTimeout("countdown_queue.process()", count);
      //});
      
      errorfunction = function() { 
          window.setTimeout('window.location.reload(true)', 10000);
          $('.server-closed').show();
        };
 
      $(document).ready(function(){
        ws = new WebSocket("ws://#{request.host}:8080/");
        ws.onmessage = function(evt) { 
          data = JSON.parse(evt.data);
          if (data.json_class == "EDash::Countdown")
          {
           // countdown_queue.push(data);
          }
          else
          {
            project_queue.push(data);
          }
        }

        ws.onclose = errorfunction;
        ws.onerror = errorfunction;
        ws.onopen = function() { };

        project_queue.schedule(1000);
      });
      
      var displayCountdown = function(json) {
        var data = JSON.parse(json);
        $('#' + data.id + ' .display').text(data.description);
      }
      
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{path_root}/main.css"}
  %body
    .server-closed
      Server connection problem: try a refresh.
    .projects
      - @projects.each do |project|
        %div{:class => "project", :id => project.name }
          %a{:class => project.status, :href => "/#{project.name}"}
            = project.name
            - if project.status == 'building'
              .last_author
                %img{:src => "#{path_root}/images/loading.gif"}
            - elsif !project.author.nil? && project.author != ""
              .last_author
                %img{:src => project.author_gravatar, :width => '50', :height => '50', :alt => project.author}
          - if project.progress
            .progress-bg
              - project.progress.each do |phase|
                %div{:class => "progress #{phase.name}", :style => "width:#{phase.adjust_width_to(300)}px"}
                  = phase.value
    .countdowns
      - @countdowns.each do |countdown|
        .countdown{:id => countdown.id}
          .display
            :javascript
              displayCountdown('#{countdown.to_json}');
          .configuration
            %form#countdown-configuration{:action => '/countdown', :method => 'post'}
              %input{:type => 'hidden', :name => '_method', :value => 'put'}
              %label{:for => "countdown-configuration-description"}
                = "Description"
              %input#countdown-configuration-description{:name => 'countdown[description]', :value => countdown.description}
              %label{:for => "countdown-configuration-date"}
                = "Target Time"
              %select#countdown_day{:name => 'countdown[day]'}
                %option{:value => "1"}= 1
                %option{:value => "2"}= 2
                %option{:value => "3"}= 3
                %option{:value => "4"}= 4
                %option{:value => "5"}= 5
                %option{:value => "6"}= 6
                %option{:value => "7"}= 7
                %option{:value => "8"}= 8
                %option{:value => "9"}= 9
                %option{:value => "10"}= 10
                %option{:value => "11"}= 11
                %option{:value => "12"}= 12
                %option{:value => "13"}= 13
                %option{:value => "14"}= 14
                %option{:value => "15"}= 15
                %option{:value => "16"}= 16
                %option{:value => "17"}= 17
                %option{:value => "18"}= 18
                %option{:value => "19"}= 19
                %option{:value => "20"}= 20
                %option{:value => "21"}= 21
                %option{:value => "22"}= 22
                %option{:value => "23"}= 23
                %option{:value => "24"}= 24
                %option{:value => "25"}= 25
                %option{:value => "26"}= 26
                %option{:value => "27"}= 27
                %option{:value => "28"}= 28
                %option{:value => "29"}= 29
                %option{:value => "30"}= 30
                %option{:value => "31"}= 31
              %select#countdown_month{:name => 'countdown[month]'}
                %option{:value => "1"}= "January"
                %option{:value => "2"}= "February"
                %option{:value => "3"}= "March"
                %option{:value => "4"}= "April"
                %option{:value => "5"}= "May"
                %option{:value => "6"}= "June"
                %option{:value => "7"}= "July"
                %option{:value => "8"}= "August"
                %option{:value => "9"}= "September"
                %option{:value => "10"}= "October"
                %option{:value => "11"}= "November"
                %option{:value => "12"}= "December"
              %select#countdown_year{:name => 'countdown[year]'}
                %option{:value => "2010"}= 2010
                %option{:value => "2011"}= 2011
                %option{:value => "2012"}= 2012
                %option{:value => "2013"}= 2013
                %option{:value => "2014"}= 2014
                %option{:value => "2015"}= 2015
                %option{:value => "2016"}= 2016
              %select#countdown_hour{:name => 'countdown[hour]'}
                %option{:value => "0"}= 0
                %option{:value => "1"}= 1
                %option{:value => "2"}= 2
                %option{:value => "3"}= 3
                %option{:value => "4"}= 4
                %option{:value => "5"}= 5
                %option{:value => "6"}= 6
                %option{:value => "7"}= 7
                %option{:value => "8"}= 8
                %option{:value => "9"}= 9
                %option{:value => "10"}= 10
                %option{:value => "11"}= 11
                %option{:value => "12"}= 12
                %option{:value => "13"}= 13
                %option{:value => "14"}= 14
                %option{:value => "15"}= 15
                %option{:value => "16"}= 16
                %option{:value => "17"}= 17
                %option{:value => "18"}= 18
                %option{:value => "19"}= 19
                %option{:value => "20"}= 20
                %option{:value => "21"}= 21
                %option{:value => "22"}= 22
                %option{:value => "23"}= 23
              %select#countdown_minute{:name => 'countdown[minute]'}
                %option{:value => "0"}= 0
                %option{:value => "15"}= 15
                %option{:value => "30"}= 30
                %option{:value => "45"}= 45
              %input{:type => 'submit', :value => 'Save'}
