%html
  %head
    %title= "CI Dashboard"
    :javascript
      window.setTimeout('window.location.reload(true)', 20000)
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{path_root}/main.css"}
    %style
      :plain
    %body
      .projects
        - @projects.each do |name, project|
          %div.project{:class => project[:status]}
            %a{:href => "/#{name}"}= "#{name}"
            - if project[:status] == 'building'
              .last_author
                %img{:src => "#{path_root}/images/loading.gif"}
            - elsif project[:author]
              - require 'md5'
              .last_author
                %img{:src => "http://www.gravatar.com/avatar/#{MD5::md5(project[:author].match(/<(.*)>/)[1].gsub(' ', '+'))}?s=50", :width => '50', :height => '50', :alt => project[:author]}
