!!!
%html
  %head
    %title= "CI Dashboard"
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "#{path_root}/javascripts/queue.js"}
    %script{:type => "text/javascript", :src => "#{path_root}/javascripts/application.js"}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{path_root}/main.css"}
  %body
    .server-closed
      Server connection problem: try a refresh.
    .projects
      - @projects.each do |name, project|
        %div{:class => "project", :id => name }
          %a{:class => project.status, :href => "/#{name}"}
            = name
            - if project.status == 'building'
              .last_author
                %img{:src => "#{path_root}/images/loading.gif"}
            - elsif !project.author.nil? && project.author != ""
              .last_author
                %img{:src => project.author_gravatar, :width => '50', :height => '50', :alt => project.author}
