%html
  %head
    %title= "CI Dashboard"
    :javascript
      window.setTimeout('window.location.reload(true)', 20000)
    %style
      :plain
        body { font-size:3em; font-family:arial; }
        li.pass { color: #0d0; }
        li.fail { color: #d00; }
    %body
      %h2= "CI Dashboard"
      %ul
      - @projects.each do |name, status|
        %li{:class => status}
          %a{:href => "/#{name}"}= "#{name}"
          (#{status})
