!!!
%html
  %head
    %title= "CI Dashboard"
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "#{path_root}/javascripts/queue.js"}
    :javascript
      function runQueueIn(count) {
        window.setTimeout("queue.process()", count);
      }

      function updateProjectBoxWithFade(project) {
        box = $('#'+project.name+' a');
        if (box.size() == 0) {
          document.location.reload(true);
        }
        newbox = box.clone();
        newbox.removeClass();
        // project specific stuff
        newbox.addClass(project.status);
        if (project.status == 'building') {
          newbox.find('img').attr('src', '#{path_root}/images/loading.gif');
        }
        else {
          newbox.find('img').attr('src', project.author_gravatar);
        }
        // animation stuff
        newbox.css('position', 'absolute');
        newbox.hide();
        newbox.appendTo(box.parent());
        newbox.fadeIn(2000, function(){
          newbox.css('position', 'static');
          box.remove();
          queue.schedule(500);
        });
        box.fadeOut(2000);
      };

      queue = new Queue(updateProjectBoxWithFade, runQueueIn);

      $(document).ready(function(){
        ws = new WebSocket("ws://#{request.host}:8080/");
        ws.onmessage = function(evt) { 
          project = JSON.parse(evt.data);
          queue.push(project);
        }

        ws.onclose = function() { 
          window.setTimeout('window.location.reload(true)', 10000);
          $('.server-closed').show();
        };

        ws.onopen = function() { };

        queue.schedule(1000);
      });
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{path_root}/main.css"}
  %body
    .server-closed
      Server connection problem: try a refresh.
    .projects
      - @projects.each do |name, project|
        %div{:class => "project", :id => name }
          %a{:class => project.status, :href => "/#{name}"}
            = name
            - if project.status == 'building'
              .last_author
                %img{:src => "#{path_root}/images/loading.gif"}
            - elsif !project.author.nil? && project.author != ""
              .last_author
                %img{:src => project.author_gravatar, :width => '50', :height => '50', :alt => project.author}
          .stat
            .label= "awesomeness"
            .uparrow
            .number= "2%"
          .stat
            .label= "biscuits"
            .downarrow
            .number= "2%"
          .stat
            .label= "cash"
            .downarrow
            .number= "2%"
          .stat
            .label= "win"
            .uparrow
            .number= "100%"
          .progress-bg
            .progress.notstarted
              4
            .progress.started
              4
            .progress.finished
              4
